.main__first-box {
    width: 100%;
    background: url(../image/image1-1.webp) center no-repeat;
    background-size: cover;
    height: 870px;
    position: relative;
    margin-top: 48px;
    display: flex;
    .main__first-box-card {
        background-color: rgba(20, 20, 20, 0.8);
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        bottom: calc(50% - 90px);
        left: 60px;
        h2 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
            color: #FFFFFF;
            letter-spacing: 3px;
        }
        h4 {
            margin-top: 18px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 1px;
        }
        button {
            padding: 15px 20px 12px 50px;
            font-size: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #3c3c3b;
            margin: 24px auto 0 0;
            font-weight: bold;
            letter-spacing: 1px;
            border: 1px solid #3c3c3b;
            position: relative;
            transition-duration: 0.5s;
            &:hover {
                background-color: black;
                border: 1px solid #ffffff;
                
            }
            .fa-arrow-right-long {
                    display: inline-block;
                    font-size: 18px;
                    position: absolute;
                    left: 20px;
                    bottom: 10px;
                }
        }
    }
}

@media screen and (max-width: 900px) {
    .main__first-box {
        height: 490px;
        .main__first-box-card {
            left: 20px;
            h2 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .main__first-box { 
        height: 450px;
        background-position: 50% -100px;
        .main__first-box-card {
            background-color: rgba(20, 20, 20, 1);
            position: static;
            align-self: end;
            width: 100%;
            text-align: center;
            h4 {
                font-size: 16px;
            }
            button {
                margin: 24px auto 15px auto;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .main__first-box { 
        height: 350px;
        background-position: 50% -100px;
        }
}