
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Roboto', sans-serif;

}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container-jaguar {
    font-family: 'Roboto', sans-serif;
    .jaguar__header {
        background-color:#3c3c3b;
        height: 72px;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        img {
            margin-top: 2px;
            height: 66px;
        }
        .jaguar__header__nav {
            display: flex;
        }
        a {
            height: 72px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .jaguar__header__search {
            display: flex;
            align-items: center;
            margin: 0px 0px 0px auto;
            div {
                width: 72px;
                height: 72px;
                text-align: center;
                line-height: 72px;
                &:hover {
                    background-color: #656564;
                    cursor: pointer;
                }
                i {
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                }
            }
        }
        .jaguar__header__online {
            display: flex;
            justify-content: center;
            font-size: 35px;
            color: #FFFFFF;
            position: absolute;
            right: 20px;
            top: 100px;
            width: 55px;
	        height: 55px;
	        background: #3c3c3b;
	        border-radius: 50%;
            transition-duration: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: #000;
                letter-spacing: 3px;
            }
        }
        .jaguar__header__button {
            background-color: black;
            color: #FFFFFF;
            text-transform: uppercase;
            position: fixed;
            right: 22px;
            bottom: 25px;
            background-image: url(../image/Chat-icon.png);
            width: 151px;
            height: 44px;
        }
    }
}